<h1 class="mb-4">Events</h1>

<div class="my-4">
  <a href="?sort=title&order=<%= sort === 'title' && order === 'ASC' ? 'DESC' : 'ASC' %>" class="btn btn-secondary btn-sm mr-2">
    Sort by Title (<%= sort === 'title' && order === 'ASC' ? 'Z-A' : 'A-Z' %>)
  </a>
  <a href="?sort=event_date&order=<%= sort === 'event_date' && order === 'ASC' ? 'DESC' : 'ASC' %>" class="btn btn-secondary btn-sm mr-2">
    Sort by Date (<%= sort === 'event_date' && order === 'ASC' ? 'Latest' : 'Earliest' %>)
  </a>
  <a href="?sort=organizer&order=<%= sort === 'organizer' && order === 'ASC' ? 'DESC' : 'ASC' %>" class="btn btn-secondary btn-sm mr-2">
    Sort by Organizer (<%= sort === 'organizer' && order === 'ASC' ? 'Z-A' : 'A-Z' %>)
  </a>
</div>

<div class="row">
  <%- include('./partials/eventCards', {events: events}) %>
</div>

<script>
  let page = 1;
  const limit = 10;

  window.onscroll = async function() {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      page++;
      
      let url = new URL(window.location.href);
      url.searchParams.set('page', page);
      url.searchParams.set('limit', limit);
      const response = await fetch(url);
      
      if (!response.ok) {
        console.error('Server response was not ok', response);
        return;
      }

      const json = await response.json();
      const eventCards = json.eventCards;
      document.querySelector('.row').insertAdjacentHTML('beforeend', eventCards);
    }
  };
</script>