<h1 class="mb-4">Events</h1>

<div class="my-4">
  <a href="?sort=title&order=<%= sort === 'title' && order === 'ASC' ? 'DESC' : 'ASC' %>" class="btn btn-secondary btn-sm mr-2">
    Sort by Title (<%= sort === 'title' && order === 'ASC' ? 'Z-A' : 'A-Z' %>)
  </a>
  <a href="?sort=event_date&order=<%= sort === 'event_date' && order === 'ASC' ? 'DESC' : 'ASC' %>" class="btn btn-secondary btn-sm mr-2">
    Sort by Date (<%= sort === 'event_date' && order === 'ASC' ? 'Latest' : 'Earliest' %>)
  </a>
  <a href="?sort=organizer&order=<%= sort === 'organizer' && order === 'ASC' ? 'DESC' : 'ASC' %>" class="btn btn-secondary btn-sm mr-2">
    Sort by Organizer (<%= sort === 'organizer' && order === 'ASC' ? 'Z-A' : 'A-Z' %>)
  </a>
</div>

<div class="row">
  <% events.forEach(event => { %>
    <div class="col-sm-4">
      <div class="card mb-4 p-3 rounded-0">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.description %></p>
          <p class="card-text" style="font-size: smaller; color: grey;">
            <script>
              var date = new Date('<%= event.event_date %>');
              document.write(date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }));
            </script>
          </p>
          <a href="/register/<%= event.id %>" class="btn btn-primary">Register</a>
          <a href="/view/<%= event.id %>" class="btn btn-secondary">View</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<script>
  let page = 1;
  const limit = 10;

  function createEventElement(event) {
    const div = document.createElement('div');
    div.className = 'col-sm-4';
    div.innerHTML = `
        <div class="card mb-4 p-3 rounded-0">
          <div class="card-body">
            <h5 class="card-title">${event.title}</h5>
            <p class="card-text">${event.description}</p>
            <a href="/register/${event.id}" class="btn btn-primary">Register</a>
            <a href="/view/${event.id}" class="btn btn-secondary">View</a>
          </div>
        </div>
      `;
    return div;
  }

  window.onscroll = async function() {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      page++;
      const response = await fetch(`?page=${page}&limit=${limit}`);
      
      if (!response.ok) {
        console.error('Server response was not ok', response);
        return;
      }

      const { events } = await response.json();

      document.querySelector('.row').append(...events.map(createEventElement));
    }
  };
</script>