<h1 class="mb-4">Users</h1>

<form class="d-flex mb-4" id="searchForm" action="" method="get">
  <input class="form-control me-2" id="nameInput" type="text" value="<%= name %>" name="name" placeholder="Search by name or email">
  <input class="btn btn-outline-success" type="submit" value="Search">
</form>

<script>
  document.getElementById('searchForm').addEventListener('submit', (event) => {
    event.preventDefault();
    var id = '<%= event.id %>';
    var name = document.getElementById('nameInput').value;
    window.location.href = '/view/' + id + '/' + name;
  });
  </script>

<div class="row">
  <% users.forEach(user => { %>
    <div class="col-sm-4">
      <div class="card mb-4 p-3 rounded-0">
        <div class="card-body">
          <h5 class="card-title"><%= user.fullName %></h5>
          <p class="card-text"><%= user.email %></p>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="width: 800px; height: 400px;">
  <canvas class="mt-4" id="myChart"></canvas>
</div>
<script>
  const usersCountByDateArray =  JSON.parse('<%- JSON.stringify(usersCountByDateArray) %>');

  const dates = usersCountByDateArray.map(user => user.date);
  const counts = usersCountByDateArray.map(user => user.count);

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'line', // or 'bar'
      data: {
          labels: dates,
          datasets: [{
              label: 'Registrations per day',
              data: counts,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>