<% eventsData.forEach(eventData => { %>
  <div class="col-sm-4">
    <div class="card mb-4 p-3 rounded-0">
      <div class="card-body">
        <h5 class="card-title"><%= eventData.event.title %></h5>
        <p class="card-text"><%= eventData.event.description %></p>
        <p class="card-text" style="font-size: smaller; color: grey;">
          <%= eventData.eventDate %>
        </p>
        <a href="/register/<%= eventData.event.id %>" class="btn btn-primary">Register</a>
        <a href="/view/<%= eventData.event.id %>" class="btn btn-secondary">View</a>
      </div>
    </div>
  </div>
<% }) %>
