<div class="card-body">
  <h5 class="card-title"><%= event.title %></h5>
  <p class="card-text"><%= event.description %></p>
  <p class="card-text" style="font-size: smaller; color: grey;">
    <script>
      var date = new Date('<%= event.event_date %>');
      document.write(date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }));
    </script>
  </p>
  <a href="/register/<%= event.id %>" class="btn btn-primary">Register</a>
  <a href="/view/<%= event.id %>" class="btn btn-secondary">View</a>
</div>